@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poppins:wght@500;700;800&display=swap');
html, body {
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-color: aliceblue !important;
    margin:0;
    padding: 0;
  }
input[type=text]{
  text-transform: uppercase !important;
}
.sinResultados{
  text-align: center;
  color: red;
  font-size: 18px;
  font-weight: bold;
}